.check_btn{
    border: 1px solid $orange_theme;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        padding: 10px;
        font-size: 30px;
        display: block;
        &::after{
            display: block;
            content: "";
            width: 0;
            margin: 0 auto;
            height: 2px;
            background-color: $link_hover;
            transition: all 0.3s ease-in-out;
          }
          &:hover::after{
            width: 100%;
          }

    }
    &:hover{
        border: 1px solid $link_hover;
    }
}